{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>All Posts</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!--<link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/public.css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link href="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/css/fileinput.min.css" media="all" rel="stylesheet"
          type="text/css"/>
    <!--<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>-->
    <script src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/js/fileinput.min.js"></script>
    <!-- optionally if you need a theme like font awesome theme you can include it as mentioned below -->
    <script src="{% static 'js/theme.js' %}"></script>
    <!-- optionally if you need translation for your language then include  locale file as mentioned below -->
    <script src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/js/locales/zh.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/allpost.js' %}"></script>
    <script>
        //csrf_token
        $.ajaxSetup({
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            beforeSend: function () {
                $("#ld").css('z-index', 1000).removeClass('d-none');
            },
            complete: function () {
                $("#ld").css('z-index', -1).addClass('d-none');
            }
        });
    </script>
</head>
<body>
<div id="ld" class="d-none">
    <img src="/static/img/loading1.gif" alt="">
</div>
<!--Navigation Bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top d-flex justify-content-between">
    <a class="navbar-brand justify-content-start" href="/">Lost &amp; Found</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
        <!--Right Navbar-->

        {% if user.is_authenticated %}

            <div class="dropdown mr-5">
                <button class="btn btn-light dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    {% if user.first_name %}
                        {{ user.first_name }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}
                </button>
                <div class="dropdown-menu clearfix" aria-describedby="userMenu">
                    <a href="/allpost" class="dropdown-item">My Posts</a>
                    <a href="/profile" class="dropdown-item">Profile</a>
                    <a href="/settings" class="dropdown-item">Settings</a>
                    <a href="/logout" class="dropdown-item">Sign out</a>
                </div>
            </div>
            <div id="function-list">
                <a href="/allpost" class="dropdown-item">My Posts</a>
                <a href="/profile" class="dropdown-item">Profile</a>
                <a href="/settings" class="dropdown-item">Settings</a>
                <a href="/logout" class="dropdown-item">Sign out</a>
            </div>


        {% else %}

            <a href="/login">
                <button class="btn btn-outline-success my-2 my-sm-0">Login</button>
            </a>
            <a href="/register">
                <button class="btn btn-primary ml-2">Sign Up</button>
            </a>

        {% endif %}

    </div>
</nav>
<!--Main Content-->

{% if not user.is_authenticated %}

    <div class="container mt-3">
        <div class="alert alert-danger" role="alert">
            <h4>You are not permitted to visit this page.</h4>

            <hr>

            <h5>You are not logged in.</h5>
            <ul>
                <li>If you have an account, click "Login" on the right-top corner.</li>
                <li>If you do not have an account, click "Sign Up" on the right-top corner.</li>
            </ul>
        </div>
    </div>

{% else %}

    <div class="container mt-3">

        <ul class="list-group mb-5" id="mainTable">
            <!--Title of table-->
            <li class="list-group-item bg-light">
                <div class="row">
                    <div class="col-4 col-md font-weight-bold">Name</div>
                    <div class="col-4 col-md font-weight-bold">Location</div>
                    <div class="col-4 col-md font-weight-bold">Date</div>
                    <div class="col font-weight-bold"></div>
                </div>
            </li>
            <!--Table content-->
            {% for info in data %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4 col-md">
                            {{ info.name }}
                            {% if info.status == 'F' %}
                                <span class="badge badge-info">Found</span>
                            {% else %}
                                <span class="badge badge-warning">Lost</span>
                            {% endif %}
                        </div>
                        <div class="col-4 col-md">{{ info.location }}</div>
                        <div class="col-4 col-md">{{ info.date|date:"Y-m-d" }}</div>
                        <div class="col options">
                            <a href="/detail/{{ info.pid }}">
                                <button class="btn btn-sm btn-secondary">Detail</button>
                            </a>
                            <button class="btn btn-sm btn-danger btn-delete" data-toggle="modal"
                                    data-target="#confirm-delete-modal" onclick="get_data(this)">
                                Delete
                            </button>
                        </div>
                    </div>
                </li>

            {% endfor %}

        </ul>
    </div>

    <!--Modal-->

    <!-- Confirm Delete Modal -->
    <div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog"
         aria-labelledby="confirm-delete-label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Message</h5>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                    </button>
                    <a href="/delete/{{ encrypt }}" class="btn btn-danger" id="delete-link">Delete</a>
                </div>
            </div>
        </div>
    </div>


{% endif %}

</body>
</html>
