{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lost &amp; Found</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!--<link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/public.css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!--<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>-->
    <script src="https://cdn.bootcss.com/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
<!--Navigation Bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#">Lost &amp; Found</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
        <!--Left Navbar-->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#bulletin">Bulletin <span
                        class="badge badge-primary" id="new">New!</span></a>
            </li>
        </ul>
        <!--Right Navbar-->
        <button class="btn btn-outline-success my-2 my-sm-0">Login</button>
        <button class="btn btn-primary ml-2">Sign Up</button>
        <div class="dropdown mr-4 mb-2 d-none">
            <div class="dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                ECWU
            </div>
            <div class="dropdown-menu clearfix" aria-describedby="userMenu">
                <a href="" class="dropdown-item">Profile</a>
                <a href="" class="dropdown-item">Settings</a>
                <a href="" class="dropdown-item">Sign out</a>
            </div>
        </div>
        <button class="btn btn-primary d-none" data-toggle="modal" data-target="#newPost">New Post</button>
    </div>
</nav>
<!--Main Content-->
<div class="container mt-3">
    <div class="input-group has-feedback">
        <input type="text" class="form-control" placeholder="Search" id="search" oninput="changeIcon(this)">
        <div class="input-group-append">
            <span class="input-group-text btn search-button" id="clear">
                <i class="fas fa-search" id="icon"></i>
            </span>
        </div>
    </div>
    <div class="d-flex flex-row mt-3">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" id="lostOrFound" aria-haspopup="true"
                    aria-expanded="false">Lost/Found
            </button>
            <div class="dropdown-menu" aria-describedby="lostOrFound">
                <a href="#" class="dropdown-item active" onclick="searching(this, 0)">All</a>
                <a href="#" class="dropdown-item" onclick="searching(this, 0)">Lost</a>
                <a href="#" class="dropdown-item" onclick="searching(this, 0)">Found</a>
            </div>
        </div>
        <div class="dropdown ml-3">
            <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" id="filterByLocation"
                    aria-haspopup="true" aria-expanded="false">Location
            </button>
            <div class="dropdown-menu" aria-describedby="filterByLocation">
                <div class="form-check dropdown-item">
                    <input class="form-check-input locations" type="checkbox" value="T" id="teachingBuilding">
                    <label class="form-check-label" for="teachingBuilding">
                        Teaching Buildings
                    </label>
                </div>
                <div class="form-check dropdown-item">
                    <input class="form-check-input locations" type="checkbox" value="C" id="canteen">
                    <label class="form-check-label" for="canteen">
                        Canteens
                    </label>
                </div>
                <div class="form-check dropdown-item">
                    <input class="form-check-input locations" type="checkbox" value="D" id="dorm">
                    <label class="form-check-label" for="dorm">
                        Dormitory
                    </label>
                </div>
                <div class="form-check dropdown-item">
                    <input class="form-check-input locations" type="checkbox" value="P" id="computerRoom">
                    <label class="form-check-label" for="computerRoom">
                        Computer Room
                    </label>
                </div>
                <div class="form-check dropdown-item">
                    <input class="form-check-input locations" type="checkbox" value="O" id="other">
                    <label class="form-check-label" for="other">
                        Other
                    </label>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" onclick="searching(this, 3)">Filter</button>
                </div>
            </div>
        </div>
        <div class="dropdown ml-3">
            <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" id="filterByDate" aria-haspopup="true"
                    aria-expanded="false">
                Date
            </button>
            <div class="dropdown-menu" aria-describedby="filterByDate">
                <a href="#" class="dropdown-item active" onclick="searching(this, 1)">Last Week</a>
                <a href="#" class="dropdown-item" onclick="searching(this, 1)">Last Month</a>
                <a href="#" class="dropdown-item" onclick="searching(this, 1)">All</a>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="p-2 text-secondary">Results <span class="badge badge-primary badge-pill"
                                                      id="numOfResults">{{ length }}</span></div>
    </div>
    <ul class="list-group mb-5" id="mainTable">
        <!--Title of table-->
        <li class="list-group-item bg-light">
            <div class="row">
                <div class="col-4 col-md font-weight-bold">Name</div>
                <div class="col-4 col-md font-weight-bold">Location</div>
                <div class="col-4 col-md font-weight-bold">Date</div>
                <div class="col-md font-weight-bold hide-sm">Poster</div>
                <div class="col font-weight-bold"></div>
            </div>
        </li>
        <!--Table content-->
        {% for info in data %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4 col-md">
                        {{ info.name }}
                        {% if info.status == 'F' %}
                            <span class="badge badge-info">Found</span>
                        {% else %}
                            <span class="badge badge-warning">Lost</span>
                        {% endif %}
                    </div>
                    <div class="col-4 col-md">{{ info.location }}</div>
                    <div class="col-4 col-md">{{ info.date|date:"Y-m-d" }}</div>
                    <div class="col-md hide-sm">{{ info.poster }}</div>
                    <div class="col mt-1">
                        <button class="btn btn-sm btn-secondary m-auto" onclick="show_detail({{ info.pid }})">View
                            Detail
                        </button>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<!--Modal-->
<div class="modal fade" id="bulletin" tabindex="-1" role="dialog" aria-labelledby="bulletin" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bulletin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ bulletin }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="read">Mark as read</button>
            </div>
        </div>
    </div>
</div>
<!--New Post-->
<div class="modal fade" id="newPost" tabindex="-1" role="dialog" aria-labelledby="newPost" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content long-modal">
            <div class="modal-header">
                <h5 class="modal-title">New Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y: auto">
                <form action="">
                    <div class="form-group">
                        <label for="objectName">Name</label>
                        <input type="text" class="form-control" id="objectName" aria-describedby="nameHelp">
                        <small id="nameHelp" class="form-text text-muted">Name of lost or found object.</small>
                    </div>
                    <div class="form-group">
                        <label for="locationRange">Location Range</label>
                        <select class="form-control" id="locationRange">
                            <option>Teaching Buildings</option>
                            <option>Canteens</option>
                            <option>Dormitory</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="objectName">Location</label>
                        <input type="text" class="form-control" id="location" aria-describedby="locationHelp">
                        <small id="locationHelp" class="form-text text-muted">e.g. T8, V27 Lobby</small>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="3"
                                  placeholder="Write your description of the object"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="contact">Contacts</label>
                        <textarea class="form-control" id="contact" rows="3"
                                  placeholder="Write whatever ways you want others to contact you"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="post">Post</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>